@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
html {
  box-sizing: border-box;
  background-color: var(--primary-color);
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.row {
  display: flex;
  margin: 0 -15px;
  row-gap: 30px;
  flex-wrap: wrap;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.col-3 {
  width: 25%;
  padding: 0 15px;
}

.col-4 {
  width: 33.3%;
  padding: 0 15px;
}

.col-6 {
  width: 50%;
  padding: 0 15px;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #f0fdf4;
  --back-color: #9ff8c6;
  --text-color: #1a3c34;
  --text-color-secondary: #014d2f;
  --red-color: #ef4444;
  --green-color: #18ed74;
  --blue-color: #3b82f6;
  --yellow-color: #f59e0b;
  --purple-color: #8b5cf6;
  --orange-color: #f97316;
  --pink-color: #ec4899;
  --brown-color: #78716c;
  --gray-color: #9ca3af;
  --black-color: #1e293b;
}

.dark {
  --primary-color: #000000;
  --secondary-color: #131313;
  --back-color: rgb(31, 31, 31);
  --text-color: #f8f9fa;
  --text-color-secondary: #f8f9fa;
  --red-color: #dc3545;
  --green-color: #28a745;
  --blue-color: #007bff;
  --yellow-color: #ffc107;
  --purple-color: #6f42c1;
  --orange-color: #fd7e14;
  --pink-color: #e83e8c;
  --brown-color: #6c757d;
  --gray-color: #6c757d;
}
